// usuarios standar 

$standard: (
    // key - valor
    color-standard: white,
    bg-standard:  #0088a9,
    border-standard: 1px dotted #fff,
    font-standard: 400,
);

$premium: (
    color-premium: red,
    bg-premium: black,
    bg-premium-secondary:#414141,
    border-premium: black,
    font-premium: 600,
)